// Media Queries
@mixin breakpoint($min-width: null, $max-width: null, $medium: screen) {
  @if ($min-width != null and $max-width != null) {
    @media #{$medium} and (min-width: $min-width) and (max-width: $max-width) {
      @content;
    }
  } @else
  if ($min-width != null and $max-width == null) {
    @media #{$medium} and (min-width: $min-width) {
      @content;
    }
  } @else
  if ($min-width == null and $max-width != null) {
    @media #{$medium} and (max-width: $max-width) {
      @content;
    }
  }
}
