.xp-flex {
  display: flex;
}

.xp-direction-row {
  flex-direction: row;
}

.xp-direction-column {
  flex-direction: column;
}

.xp-align-items-center {
  align-items: center;
}

.xp-align-items-baseline {
  align-items: baseline;
}

.xp-justify-content-right {
  justify-content: flex-end !important;
}

.xp-justify-content-end {
  justify-content: flex-end !important;
}

.xp-justify-content-space-between {
  justify-content: space-between !important;
}