.round {
  position: relative;
}

.round label {
  background-color: $white;
  border: 1px solid $grey-light;
  border-radius: 50%;
  cursor: pointer;
  height: 1vw;
  left: 0;
  top: 1.7vw;
  width: 1vw;
}

.round input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.round input[type="checkbox"]:checked + label {
  background-color: $blue;
  border-color: $blue;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
