// Padding
.pb-4 {
  padding-bottom: 4px;
}

.pb-10 {
  padding-bottom: 6.6%;
}

// Margin

.mt-4 {
  margin-top: 4px;
}

.mt-7 {
  margin-top: 4.6%;
}

.mt-10 {
  margin-top: 6.55%;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-8 {
  margin-left: 31%;
}

.mr-2 {
  margin-right: 0.37vw;
}

// Margin horizontal
.mx-55 {
  margin-top: 55px !important;
  margin-bottom: 55px !important;
}

// Margin vertical
.my-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}