<template>
  <div :class="classObj">
    <div class="grey-bg vertical-center">
      <div class="xp-flex xp-direction-column">
        <VLoginLeft />
        <VFooter />
      </div>
    </div>
    <VLoginRight/>
  </div>
</template>

<script>

import VFooter from '@/components/organisms/VFooter.vue'
import VLoginLeft from '@/components/organisms/VLoginLeft.vue'
import VLoginRight from '@/components/organisms/VLoginRight.vue'

export default {
  name: 'LoginTemplate',
  props: ['logoSrc'],
  components: {
    VFooter,
    VLoginLeft,
    VLoginRight
  },
  data () {
    return {
      classObj: {
        't-v-login': true,
        'xp-flex': true,
        'xp-direction-row': true,
        'container': true
      }
    }
  }
}
</script>

<style lang="scss" scoped>

.container {
  width: 100%;
  height: -webkit-fill-available;
}

.xp-col-left {
  margin-left: 18.7%;
  margin-right: 18.7%;
}

.vertical {
  &-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
}

.grey-bg {
  background: $grey-lighter;
  width: 50%;
}

</style>
