<template>
  <div class="login">
    <LoginTemplate
      :logoSrc="logoSrc"
    />
  </div>
</template>

<script>
import LoginTemplate from '@/components/templates/LoginTemplate.vue'

export default {
  name: 'login',
  components: {
    LoginTemplate
  },
  data () {
    return {
      logoSrc: ''
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
