<template>
  <div :class="{'v-a-basic-point': true, 'v-a-basic-point-grey': isGrey}">
  </div>
</template>

<script>

export default {
  name: 'VBasicPoint',
  props: ['strength', 'isGrey']
}
</script>

<style lang="scss" scoped>
.v-a-basic-point {
  height: 0.3vw;
  width: 0.3vw;
  background: $grey-light;
  border-radius: 51%;
  margin-bottom: 0.2vw;
  &-grey {
    background: $grey;
  }
}

.level-1 {
  background: $error
}
.level-2 {
  background: $gold
}
.level-3 {
  background: $blue-light
}
.level-4 {
  background: $success
}
</style>
