<template>
  <button
    :disabled="!isAvailable"
    @click.prevent="emitGlobalClickEvent(eventName)"
    :class="[classObj, {'disable': !isAvailable}]"
  >
    <slot></slot>
  </button>
</template>

<script>

import { EventBus } from '../../envent-bus.js'

export default {
  name: 'VButton',
  props: {
    isOutlined: {
      type: Boolean
    },
    eventName: {
      type: String
    },
    isAvailable: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      classObj: {
        'a-v-btn': true,
        'a-v-btn-outline': this.isOutlined
      }
    }
  },
  methods: {
    emitGlobalClickEvent (eventName) {
      EventBus.$emit(eventName)
    }
  }
}
</script>

<style lang="scss" scoped>
.a-v-btn {
  white-space: nowrap;
  border-radius: 0.35vw;
  font-family: 'Open Sans';
  font-size: 1.2vw;
  font-weight: 600;
  line-height: 2.14;
  padding: 1.7% 9%;
  color: $white;
  background-color: $blue;

  &-outline {
    background: transparent;
    border: solid 0.17vw $white;
    &:hover {
      background: $blue;
      color: $white;
      border-color: $blue;
    }
  }
}
.disable {
  opacity: 0.5;
}
</style>
