<template>
  <h2 class="a-v-header-1">
    <slot></slot>
  </h2>
</template>

<script>
export default {
  name: 'VHeaderElement1'
}
</script>

<style lang="scss" scoped>
.a-v-header-1 {
  font-family: 'Open Sans';
  font-size: 2.55vw;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: $grey-darker;
  margin-bottom: 3.3%;
}
</style>
