<template>
  <h2 class="a-v-header-4">
    <slot></slot>
  </h2>
</template>

<script>
export default {
  name: 'VHeaderElement4'
}
</script>

<style lang="scss" scoped>
.a-v-header-4 {
  font-family: '.SFNSText';
  font-size: 1.2vw;
  font-weight: normal;
  line-height: 2.14;
  letter-spacing: 0.2px;
  color: $white;
  margin-bottom: 2.3%
}
</style>
