<template>
  <h2 class="a-v-header-2">
    <slot></slot>
  </h2>
</template>

<script>
export default {
  name: 'VHeaderElement2'
}
</script>

<style lang="scss" scoped>
.a-v-header-2 {
  font-family: 'Open Sans';
  font-size: 2.55vw;
  font-weight: 600;
  line-height: 1.47;
  letter-spacing: 0.3px;
  color: $white;
  margin-top: 10.1%;
  margin-bottom: 3.4%;
}
</style>
