<template>
  <h2 class="a-v-header-6">
    <slot></slot>
  </h2>
</template>

<script>
export default {
  name: 'VHeaderElement6'
}
</script>

<style lang="scss" scoped>
.a-v-header-6 {
  font-family: 'Open Sans';
  font-size: 0.85vw;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: $grey;
  margin-bottom: 10.2%;
}
</style>
