<template>
  <div class="v-a-horizontal-decoration-line"></div>
</template>

<script>

export default {
  name: 'VHorizontalDecorationLine'
}
</script>

<style lang="scss" scoped>
.v-a-horizontal-decoration-line {
  border-bottom: 0.1vw solid #d4d4d4;
  margin-top: 2%;
}
</style>
