<template>
  <img
   class="a-v-image"
   :src="require(`@/assets/${src}.png`)"
   :v-rjs="retinaLevel"
   :width="width"
   @click="showMe()"
  />
</template>

<script>

import { EventBus } from '../../envent-bus.js'

export default {
  name: 'VHeaderElement2',
  props: ['src', 'retinaLevel', 'width'],
  methods: {
    showMe () {
      EventBus.$emit('showMeThePassword', {
        src: this.src
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.a-v-image {
}
</style>
