<template>
  <input v-if="type == 'email'"
    :class="classObj"
    :type="type"
    v-validate="'email|required'"
    :name="name"
    :placeholder="placeholder"
    v-model="value"
    @focus="emitInputFocus(type)"
    @blur="emitInputBlur(type)"
    @keyup="emitInputUpdate(type)"
  />
  <input v-else
    :class="classObj"
    :type="type"
    v-validate="'required|min:7'"
    :name="name"
    :placeholder="placeholder"
    v-model="value"
    @focus="emitInputFocus(type)"
    @blur="emitInputBlur(type)"
    @keyup="emitInputUpdate(type)"
  />
</template>

<script>

import { EventBus } from '../../envent-bus.js'

export default {
  name: 'VInput',
  props: ['type', 'name', 'placeholder'],
  data () {
    return {
      classObj: {
        'a-v-input': true
      },
      value: ''
    }
  },
  methods: {
    emitInputFocus (event) {
      EventBus.$emit(event + '-focus')
    },
    emitInputBlur (event) {
      EventBus.$emit(event + '-blur')
    },
    emitInputUpdate (event) {
      EventBus.$emit('input-update', {
        value: this.value,
        type: this.type,
        errors: this.errors.first(this.type)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.a-v-input {
  width: 85%;
  outline: none;
  font-family: '.SFNSText';
  font-size: 0.91vw;
  letter-spacing: 0.2px;
  color: $grey-darker;
}

input {
  background: transparent;
  border: transparent !important;
  box-shadow: none !important;
  padding: 0;
  caret-color: $success;
}

</style>
