<template>
  <label class="v-a-label">
    <slot></slot>
  </label>
</template>

<script>

export default {
  name: 'VLabel'
}
</script>

<style lang="scss" scoped>
.v-a-label {
  font-family: '.SFNSText';
  font-size: 1vw;
  line-height: normal;
  letter-spacing: 0.1px;
  color: $grey;
}
</style>
