<template>
  <div class="xp-flex xp-direction-row">
    <a v-for="link in links" :href="'/' + link.name" :key="link.id" class="v-a-link">
      {{ link.name.charAt(0).toUpperCase() + link.name.slice(1) }}
    </a>
  </div>
</template>

<script>

export default {
  name: 'VLink',
  props: {
    links: {
      type: Array
    }
  }
}
</script>

<style lang="scss" scoped>
.v-a-link {
  font-family: 'Open Sans';
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: normal;
  color: $grey;
  margin-left: 17%;
  &:hover {
    color: #d4d4d4
  }
}
</style>
