<template>
  <label class="v-a-paragraph">
    <slot></slot>
  </label>
</template>

<script>

export default {
  name: 'VParagraph'
}
</script>

<style lang="scss" scoped>
.v-a-paragraph {
  font-family: '.SFNSText';
  font-size: 1vw;
  line-height: normal;
  color: $grey;
}
</style>
