<template>
  <div class="v-m-email-input xp-flex xp-direction-column pb-10">
    <VLabel
      :class="{'is-input-focus': isFocus}"
    >
      Email
    </VLabel>
    <VInput
      type="email"
      name="email"
      placeholder="test@codeyard.eu"
    />
    <VHorizontalDecorationLine
      :class="{'is-input-focus': isFocus}"
    />
    <label
      v-show="error"
      class="error-message"
    >
    **{{error}}
    </label>
  </div>
</template>

<script>

import { EventBus } from '../../envent-bus.js'

import VLabel from '@/components/atoms/VLabel.vue'
import VInput from '@/components/atoms/VInput.vue'
import VHorizontalDecorationLine from '@/components/atoms/VHorizontalDecorationLine.vue'

export default {
  name: 'VEmailInput',
  props: ['error'],
  components: {
    VInput,
    VLabel,
    VHorizontalDecorationLine
  },
  data () {
    return {
      isFocus: false
    }
  },
  mounted () {
    EventBus.$on('email-focus', () => {
      this.isFocus = true
    })
    EventBus.$on('email-blur', () => {
      this.isFocus = false
    })
  }
}
</script>

<style lang="scss">
.v-m-email-input {
  position: relative;
}
.error-message {
  position: absolute;
  top: 65%;
  font-family: '.SFNSText';
  font-size: 0.71vw;
  letter-spacing: 0.2px;
  color: $error;
}
</style>
