<template>
  <div class="m-v-horizontal-points xp-flex xp-direction-row xp-align-items-center">
    <VbasicPoint
      :isGrey="isGrey"
      class="mr-2"
    />
    <VbasicPoint
      :isGrey="isGrey"
      class="mr-2"
    />
    <VbasicPoint
      :isGrey="isGrey"
    />
  </div>
</template>

<script>

import VbasicPoint from '@/components/atoms/VBasicPoint.vue'

export default {
  name: 'VHorizontalPoints',
  props: ['isGrey'],
  components: {
    VbasicPoint
  }
}
</script>

<style lang="scss" scoped>
.m-v-horizontal-points {
  margin-left: 10%;
}
</style>
