<template>
  <form class="m-v-login-sign-in-registration-form xp-flex xp-direction-column">
    <VEmailInput
      :error="emailError"
    />
    <VPasswordInput
      :error="passwordError"
      :password="password"
    />
    <VRememberSubmit
      :isAvailable="passwordError === undefined && emailError === undefined"
    />
  </form>
</template>

<script>

import { EventBus } from '@/envent-bus.js'
import axios from 'axios'

import VEmailInput from '@/components/molecules/VEmailInput.vue'
import VPasswordInput from '@/components/molecules/VPasswordInput.vue'
import VRememberSubmit from '@/components/molecules/VRememberSubmit.vue'

export default {
  name: 'VLoginSignInRegistrationForm',
  components: {
    VEmailInput,
    VPasswordInput,
    VRememberSubmit
  },
  data () {
    return {
      email: '',
      emailError: '',
      password: '',
      passwordError: ''
    }
  },
  mounted () {
    EventBus.$on('input-update', (newValue) => {
      switch (newValue.type) {
        case 'password':
          this.password = newValue.value
          this.passwordError = newValue.errors
          break
        case 'email':
          this.email = newValue.value
          this.emailError = newValue.errors
          break
      }
    })
    EventBus.$on('signIn', () => {
      const INVALIDPASS = 'Invalid password'
      const INVALIDEMAIL = 'Unknown user'
      axios.post('https://us-central1-ria-server-b1103.cloudfunctions.net/authenticate', {
        data: {
          email: this.email,
          password: this.password
        }
      }).then(res => {
        if (res.data.result.id) window.location = 'http://codeyard.eu'
        else {
          console.log('res.data.result.error: ', res.data.result.error)
          if (res.data.result.error === INVALIDPASS) this.passwordError = INVALIDPASS
          else if (res.data.result.error === INVALIDEMAIL) this.emailError = INVALIDEMAIL
        }
      }).catch(err => {
        console.log(err)
      })
    })
  }
}
</script>

<style lang="scss" scoped>
.m-v-login-sign-in-registration-form {
}
</style>
