<template>
  <div class="m-v-login-description">
    <VImage
      :src="src"
      :retinaLevel="retinaLevel"
      :width="width"
    />
    <VH2>
      Do you already have an account?
    </VH2>
    <VH4>
      That’s awesome! You can login by clicking on the button below. To skip this next time, you can ask us to remember your login credentials.
    </VH4>
    <VButton
      :isOutlined="true"
      :eventName="'logIn'"
    >
      Log in
    </VButton>
  </div>
</template>

<script>

import VButton from '@/components/atoms/VButton.vue'
import VImage from '@/components/atoms/VImage.vue'
import VH2 from '@/components/atoms/VHeaderElement2.vue'
import VH4 from '@/components/atoms/VHeaderElement4.vue'

export default {
  name: 'VSearchForm',
  props: ['src', 'retinaLevel', 'width'],
  components: {
    VButton,
    VImage,
    VH2,
    VH4
  }
}
</script>

<style lang="scss" scoped>
.m-v-login-description {
  margin-bottom: 30%;
  margin-left: 18%;
  margin-right: 18%;
  width: 60.4%;
  margin-top: 7%;
}
</style>
