<template>
  <div class="m-v-login-sing-in-header">
    <VH1>
      Welcome to Acme.
    </VH1>
    <VH6>
      Create your accocunt by filling the form bellow.
    </VH6>
  </div>
</template>

<script>

import VH1 from '@/components/atoms/VHeaderElement1.vue'
import VH6 from '@/components/atoms/VHeaderElement6.vue'

export default {
  name: 'VLoginSignInHeader',
  components: {
    VH1,
    VH6
  }
}
</script>

<style lang="scss" scoped>
.m-v-login-sing-in-header {
}
</style>
