<template>
  <div class="xp-flex xp-direction-column relative">
    <div class="xp-flex xp-direction-row">
      <div class="v-m-password-input xp-flex xp-direction-column">
        <VLabel
          :class="{'is-input-focus': isFocus}"
        >
          Password
        </VLabel>
        <VInput
          :type="type"
          :v-validate="validators"
          name="password"
          placeholder=""

        />
      </div>
      <div class="v-m-password-control xp-flex xp-direction-row xp-justify-content-end xp-align-items-center">
        <VImage
          :src="src"
          :retinaLevel="retinaLevel"
          :width="width"
        />
        <div class="xp-flex xp-direction-column ml-8">
          <VBasicPoint
            :class="{'level-4': password.length > 6}"
          />
          <VBasicPoint :class="{'level-3': password.length > 5}"/>
          <VBasicPoint :class="{'level-2': password.length > 3}"/>
          <VBasicPoint :class="{'level-1': password.length > 2}" />
        </div>
      </div>
    </div>
    <VHorizontalDecorationLine
      :class="{'is-input-focus': isFocus}"
    />
    <label
      v-show="error"
      class="error-message"
    >
    **{{error}}
    </label>
  </div>
</template>

<script>

import { EventBus } from '../../envent-bus.js'

import VLabel from '@/components/atoms/VLabel.vue'
import VImage from '@/components/atoms/VImage.vue'
import VInput from '@/components/atoms/VInput.vue'
import VBasicPoint from '@/components/atoms/VBasicPoint.vue'
import VHorizontalDecorationLine from '@/components/atoms/VHorizontalDecorationLine.vue'

export default {
  name: 'VPasswordInput',
  props: ['error', 'password'],
  components: {
    VInput,
    VLabel,
    VHorizontalDecorationLine,
    VImage,
    VBasicPoint
  },
  data () {
    return {
      validators: {
        required: true,
        min: 6
      },
      src: 'fa-eye-slash@3x',
      retinaLevel: 3,
      width: '38%',
      isFocus: false,
      type: 'password'
    }
  },
  mounted () {
    EventBus.$on('password-focus', () => {
      this.isFocus = true
    })

    EventBus.$on('password-blur', () => {
      this.isFocus = false
    })

    EventBus.$on('showMeThePassword', (src) => {
      if (this.type === 'password') {
        this.type = 'text'
        this.src = this.src.replace('-slash', '')
      } else {
        this.type = 'password'
        this.src = this.src.slice(0, 6) + '-slash' + this.src.slice(6, this.src.length)
      }
    })
  }
}
</script>

<style lang="scss" scoped>
.v-m-password-input {
  width: 83%;
}

.v-m-password-control {
  width: 17%;
}

.relative {
  position: relative;
}
.error-message {
  top: 102%;
}
</style>
