<template>
  <div class="m-v-remember-submit">
    <div class="xp-flex xp-direction-row mt-7">
      <div class="round xp-flex xp-direction-row xp-align-items-center">
        <input type="checkbox" id="checkbox">
        <label for="checkbox"></label> <span class="remember-me ml-5">Remember me.</span>
      </div>
    </div>
    <div class="xp-flex xp-direction-row xp-justify-content-right mt-10">
      <VButton
        :isOutlined="false"
        :isAvailable="isAvailable"
        eventName='signIn'>
        Sign in
      </VButton>
    </div>

  </div>
</template>

<script>

import VButton from '@/components/atoms/VButton.vue'

export default {
  name: 'VSearchForm',
  props: ['isAvailable'],
  components: {
    VButton
  }
}
</script>

<style lang="scss" scoped>
.m-v-remember-submit {
}

.remember-me {
  font-family: '.SFNSText';
  font-size: 1.2vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: left;
  color: $grey;
}
</style>
