<template>
  <div :class="classObj">
    <VParagraph>© 2015 Acme, Inc.</VParagraph>
    <VLink
      :links="links"
    />
    <VHorizontalPoints
      :isGrey="true"
    />
  </div>
</template>

<script>

import VParagraph from '@/components/atoms/VParagraph.vue'
import VLink from '@/components/atoms/VLink.vue'
import VHorizontalPoints from '@/components/molecules/VHorizontalPoints.vue'

export default {
  name: 'VLoginLeft',
  components: {
    VParagraph,
    VLink,
    VHorizontalPoints
  },
  data () {
    return {
      classObj: {
        'o-v-footer': true,
        'xp-col-left': true,
        'xp-flex': true,
        'xp-direction-row': true,
        'xp-align-items-baseline': true
      },
      links: [
        {
          id: 1,
          name: 'terms'
        },
        {
          id: 2,
          name: 'privacy'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>

.o-v-footer {
  margin-top: 7%;
}
</style>
