<template>
  <div :class="classObj">
    <VLoginSignInHeader
    />
    <VLoginSignInRegistrationForm
    />
  </div>
</template>

<script>

import VLoginSignInHeader from '@/components/molecules/VLoginSignInHeader.vue'
import VLoginSignInRegistrationForm from '@/components/molecules/VLoginSignInRegistrationForm.vue'

export default {
  name: 'VLoginLeft',
  components: {
    VLoginSignInHeader,
    VLoginSignInRegistrationForm
  },
  data () {
    return {
      // src: 'acme@3x',
      // retinaLevel: 3,
      // width: '25.25%',
      classObj: {
        'o-v-login-left': true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
//xp-col-left card
.o-v-login-left {
  margin-left: 18.7%;
  margin-right: 18.7%;
  border-radius: 4px;
  box-shadow: 0 0.5px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: $white;
  padding: 5.4%;
}
</style>
