<template>
  <div :class="classObj">
    <VLoginDescription
      :src="src"
      :retinaLevel="retinaLevel"
      :width="width"
    />
  </div>
</template>

<script>

import VLoginDescription from '@/components/molecules/VLoginDescription.vue'

export default {
  name: 'VSearchForm',
  components: {
    VLoginDescription
  },
  data () {
    return {
      src: 'acme@3x',
      retinaLevel: 3,
      width: '25.25%',
      classObj: {
        'vertical-center': true,
        'o-v-login-right': true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.o-v-login-right {
  background: url('@/../../../assets/login_blur_background.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 50%;
}
</style>
