$black: #000;
$white: #FFF;

$grey-darker: #757575;
$grey: #A1A1A1;
$grey-light: #E0E0E0;
$grey-lighter: #F7F7F7;

$gold: #F9C466;
$blue: #4A90E2;
$blue-light: #4990e2;
$success: #0A96A3;
$error: #CD4146;
